.jumbo{
    background-image: url("../images/jumbo.jpg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.logo{
    padding: 0px;
    margin: 0px;
}
.myTextArea{
    width: 300px;
}

#erros{
    color: red;
    font-family: 'Oswald', sans-serif;;
}

#butaoDisciplina{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}
/* body {
     margin:0px;
     padding:0px;
     height:100%;
     overflow:hidden;
 }*/

.page {
    min-height:100%;
    position:relative;
}

.header {
    padding-bottom:0px;
    margin:0px;
    width:100%;
    margin-bottom: 0px;
}

.content {
    padding:10px;
    padding-bottom:20px; /* Height of the footer element */
    overflow:hidden;

}

body {
    margin-top: 5em;
}

.footer {
    clear:both;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    width:100%;
    height:40px;
}


/*.navCustom {
    margin-bottom: 0px;
    !*height: 55px;*!
}*/

#util{
    margin-left: auto;
    margin-right: 0;
}

#user{
    color: white;
}

#gravar{
    margin-top: 10px;
}

.dropMenu{

    font-family: 'Signika', sans-serif;
}

.dropdown-item{
    font-family: 'Signika', sans-serif;
}

.dropMenu:hover .dropdown-menu{
    display: block;
}

.form-check-label{
    font-family: 'Signika', sans-serif;
}

#labelCostumizada{
    font-family: 'Signika', sans-serif;
}

.form-control{
    font-family: 'Signika', sans-serif;
}

#butaoDisciplina{
    font-family: 'Signika', sans-serif;
}

#cursoForm{
    font-family: 'Signika', sans-serif;
}

.accordion{
    font-family: 'Signika', sans-serif;
}

#entidade{
    margin-top: 10px;
}

#descricaoForm{
    resize: none;
}

#titulo{
    text-align: center;
    font-family: 'Signika', sans-serif;
}

#titulo2{
    padding-top: 200px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.descricao{
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#formulario{
    margin-top: 15px;
}


#outros{
    margin-top: 100px;
    padding: 1em 1em;
    border: 2px solid #FBF8F3;
}

.botaoOutros{
    width: 100%;
    font-family: 'Signika', sans-serif;
    background-color: #FBF8F3;
    font-weight: bold;
    color: #FBF8F3;
    margin: 5px;

}

#btNovoTFC{
    position: center;
    width: 100%;
    font-family: 'Signika', sans-serif;
    display: table-cell;
}

#idTFC{
    width: 400px;
    text-align: center;
    margin:auto;
}

#editNDEISI{
    margin-top: 50px;
    text-align: center;
}

#novoNDEISI{
    margin-top: 100px;
}

#btnNDEISI{
    margin-top: 15px;
}

#contDashNDEISI{
    margin-top: 200px;
}

#bottomMenu{
    margin-top: 10px;
    text-align: center;
}


